.banner-header .en {
  font-size: 40px;
}
.banner-header .jp {
  font-size: 18px;
}

.grid-form {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  margin: 40px auto;
  max-width: 1120px;
  position: relative;

  /* グリッド背景 */
  background-image:
    linear-gradient(to right, #ddd 1px, transparent 1px),
    linear-gradient(to bottom, #ddd 1px, transparent 1px);
  background-size: 40px 40px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.birthdate-form {
  margin: 40px 0 40px 0;
}

.form-label {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.required-badge {
  background: #f48da4;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 20px;
  border: 2px solid #000;
}

.birthdate-grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.birth-select {
  width: 100px;
  padding: 10px 10px 10px 16px;
  margin-right: 10px;
  border: 2px solid #000;
  border-radius: 6px;
  text-align: left;
  font-size: 18px;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='black' viewBox='0 0 24 24' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right -2px center;
  background-size: 28px;
}

.input-group {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
@media (max-width: 767px) {
  .banner-header .en {
    font-size: 30px;
  }

  .banner-header .jp {
    font-size: 14px;
  }

  .grid-form {
    padding: 20px;
  }

  .birthdate-grid {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
  }

  .birth-select {
    width: 80px;
    font-size: 18px;
    padding: 8px;
    margin-right: 5px;
  }

  .input-group {
    font-size: 14px;
  }
}

.submit-btn {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 240px;
  margin: 40px auto 0 auto;
  background: #f48da4;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2.4rem;
  border-radius: 60px;
  font-size: 1.1rem;
  transition: .3s;
}
.submit-btn:hover {opacity: .85;}