 <!-- ===== banner ===== -->
  <div class="wrapper">
    <div class="banner-header">
      <h2><span class="en">Know More</span><span class="ja">もっと知りたい人へ</span></h2>
    </div>
  </div>
  <div class="banner">
    <div class="wrapper">
      <div class="banner-carousel">
        <ul class="banner-items">
          <li>
            <img src="https://dummyimage.com/500x500/ddd/fff" alt="UU's #SWAG">
            <p class="">60タイプから診断する<br>あなた専用の説明書♪</p>
          </li>
          <li>
            <img src="https://dummyimage.com/700x700/ddd/fff" alt="トモノのモノ語り。">
            <p class="">週3日あなたの運勢をお届け♪</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ===== service ===== -->
  <div class="wrapper" style="margin-bottom: 80px;">
    <div class="banner-header">
      <h2><span class="en">Service</span><span class="ja">サービス</span></h2>
    </div>
    <div class="grid-box">
      <div class="grid-description">
        <p>
          belluneの有料プラン（月額 500円）は<span class="grid-description-underline"><strong>60種類</strong>からあなたのタイプを診断！</span><br>
          あなただけの占いをLINEでお届けしています。
        </p>
        <ul>
          <li class="step-item"><span class="step-label" style="box-shadow: 5px 5px 0 #f48da4;">　01</span><div class="step-text">あなたの性格や特徴をまとめた「あなた専用の説明書」</div></li>
          <li class="step-item"><span class="step-label" style="box-shadow: 5px 5px 0 #bbebfb;">　02</span><div class="step-text">月に1度、好きなテーマで詳しい占いが受け取れる♪</div></li>
          <li class="step-item"><span class="step-label" style="box-shadow: 5px 5px 0 #fff8a6;">　03</span><div class="step-text">週3日、あなたのタイプにあった運勢を配信</div></li>
        </ul>
        <p>すべてLINEで配信！忙しい日々の中でも手軽に続けられます♪</p>
      </div>
    </div>
    <a href="https://pay.bellune.jp/pay" class="subscription-btn">500円でLINEを受け取る！</a>
  </div>